body {
	padding: 0;
	border: none;
	margin: 0;
}

#gui,
#game {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}

#output {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}

#game {
	z-index: 0;
}

#gui {
	z-index: 1;
	pointer-event: none;
}

#debug {
	position: fixed;
	z-index: 999;
/*	pointer-events: none;*/
}

#up {
	top: 0;
	left: 50%;
	position: fixed;
}
#down {
	bottom: 0;
	left: 50%;
		position: fixed;
}
#left {
	top: 50%;
	left: 0;
		position: fixed;
}
#right {
	top: 50%;
	right: 0;
		position: fixed;
}
